@use './globalsass/index.scss' as style;

.table-warp {
    height: 100%;
    width: auto;
    overflow: auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, apple color emoji, segoe ui emoji, Segoe UI Symbol, noto color emoji;
    font-weight: 200;
    background-color: style.$normalBackground;
    scroll-snap-type: both mandatory;
    @include style.flexDisplay(row, nowrap, stretch, stretch);
    @include style.scrollBarStyle();
    @include style.relativePosition();

    .table-content-warp {
        flex-grow: 1;
        @include style.flexDisplay(row, nowrap, stretch, stretch);

        .title {
            @include style.relativePosition();
            background-color: style.$grayBackground;
            border-bottom: 1px solid style.$grayBorder;
            font-weight: 400;

            &::after {
                position: absolute;
                top: 50%;
                right: 0px;
                content: "";
                transform: translateY(-50%);
                height: 50%;
                width: 4px;
                background-color: style.$grayBorder;
                border-radius: 2px;
                cursor: col-resize;
            }

        }

        .table-columns {
            @include style.flexDisplay(row, nowrap, stretch, stretch);

            .table-column {
                min-width: 58px;

                .intersected {
                    background-color: #f0f0f0;
                }
            }

        }
    }
}