@use '../../globalsass/index.scss' as style;

.cell-wrap {
    height: 48px;
    min-width: 58px;
    box-sizing: border-box;
    font-size: 14px;
    user-select: none;
    padding: 6px;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
    @include style.relativePosition();
    @include style.flexDisplay(row, nowrap, flex-start, center);

    .cell-inner {
        width: 100%;
    }
}